flask
sqlalchemy
flask-sqlalchemy
marshmallow
flask-smorest
python-dotenv
flask-jwt-extended
passlib
flask-migrate
cloudinary
pillow
numpy
opencv-python
tensorflow
flask-cors
authlib
onnxruntime
rembg
scikit-learn
psycopg2-binary
gunicorn





